// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: $black !important;
}

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: $black;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}

.bold {
  font-weight: bold;
}

p.left {
  text-align: left;
}

.center {
  text-align: center;
}

.cursive {
  font-style: italic;
}

.round-top {
  border-radius: 10px;
}
span.italic {
  font-style: italic;
}

a.open-browser {
  color: #ffffff;
  font-weight: normal;
  text-decoration: underline;
  text-align: center;
}

table.button--full-width {
  width: 100% !important;
  text-align: center;
  a {
    display: block !important;
    text-align: center;
  }
}

/* https://mailchimp.com/help/all-the-merge-tags-cheat-sheet */
.mcnPreviewText{display: none !important;}