<row>
    <columns small="12" large="12">
        <p class="text-center">Våre business partnere</p>
    </columns>
</row>

<row>
    <columns small="12" large="12">
        <a href="https://escalonservices.no" title="Escalon" target="_blank">
            <center>
                <img class="float-right small-float-center" title="Escalon" alt="Escalon" src="https://mcusercontent.com/6e647b64195d9b46f85c8e79a/images/ed9a0c74-cfc6-a921-2075-f4096c52fa8a.png">
            </center>
        </a>
    </columns>
</row>
<spacer size="10"></spacer>
<row>
    <columns small="12" large="4">
        <a href="https://www2.deloitte.com/no/no/pages/about-deloitte/articles/deloitte-bergen.html" title="Deloitte" target="_blank">
            <img class="float-left small-float-center" title="Deloitte" alt="Deloitte" src="https://cdn.evbuc.com/eventlogos/1158237/deloitte.svgtransparent200px.png">
        </a>
    </columns>
    <columns small="12" large="4">
        <a href="https://www.dnb.no" title="DNB" target="_blank">
            <img class="float-right small-float-center" title="DNB" alt="DNB" src="https://gallery.mailchimp.com/6e647b64195d9b46f85c8e79a/images/f86a6f43-e2b0-4ec5-88bf-5b4176012d93.jpg">
        </a>
    </columns>
</row>
